@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1 {
    text-align: center;
    color: white;
}
aside {
    margin: auto;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(49, 45, 45, 0.555);
}
#resultado {
    text-align: center;
    margin: 5px;
}
#imagem {
    margin: 10px;
}
img {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
footer > p {
    text-align: center;
    color: white;
    font-style: italic;
}